<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Bookstore</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1>Books</h1>
<table>
<h1>Add book</h1>
	<div>
 		<form th:object="${book}" th:action="@{save}" action="#" method="post"> <label for="title">Title</label>
			 <input type="text" id="title" th:field="*{title}" />
			 <label for="author">Author</label>
			 <input type="text" id="author" th:field="*{author}" />
			 <label for="isbn">ISBN</label>
			 <input type="text" th:field="*{isbn}" />
			 <label for="year">Year</label>
			 <input type="text" th:field="*{publicationYear}" />
			 <label for="price">Price</label>
			 <input type="text" th:field="*{price}" />
			<label for="category">Category</label>
			
			 <input type="submit" value="Save"></input>
 		</form>
	</div>
</table>
<a href="/booklist" class="btn btn-primary">Back to listing</a>

</body>
</html>